@model IEnumerable<ListUserViewModel>

@{
    ViewData["Title"] = "All users";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <h2 class="text-success text-center">@TempData["SuccessMessage"]</h2>
}

<div class="row">
    <a href="/identity/create" class="btn btn-primary">Add User</a>
</div>
<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    <a href="/identity/changepassword/@user.Id" class="btn btn-warning">Change Password</a>
                    <a href="/identity/delete/@user.Id" class="btn btn-danger">Delete</a>
                    <a href="/identity/roles/@user.Id" class="btn btn-default">Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>