@model DeleteUserViewModel

@{
    ViewData["Title"] = "Delete User";
}

<h2>Are you sure you want to delete user @Model.Email ?</h2>

<a href="/identity/all" class="btn btn-default">NO</a>
<a href="/identity/destroy/@Model.Id" class="btn btn-danger">YES</a>
