@model UserWithRolesViewModel

@{
    ViewData["Title"] = "User Roles";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a href="/identity/addtorole/@Model.Id" class="btn btn-primary">Add To Role</a>
</div>
<br />

@if (!Model.Roles.Any())
{
    <h4>No roles for this user.</h4>
}

<ul>
    @foreach (var role in Model.Roles)
    {
        <li>@role</li>
    }
</ul>

