body {
	background-color: white;
}
.footer {
	background-color: #404782;
	border: 1px solid #404782;
	width: 1000px;
	height: 250px;
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	margin-top: 60px;
	margin-left: 100px;
	padding-top: 50px;
}
input {
	border: 2px solid orange;
	background-color: #404782;
	color: white;
}
.button {
	padding: 5px 30px;
}
.button2 {
	padding: 5px 8px;
	margin-top: 10px;
}
h3 {
	color: orange;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.suls {
	width: 300px;
}
ul > li {
	color: white;
	margin-top: 7px;
	display:;
}
a:link {
	text-decoration: none;
}
span > img {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 3px;
	margin-top: 30px;
	margin-left: 5px;
}
