@model string

@{
    ViewData["Title"] = "Confirm Restrict";
}

<h2>Are you sure you want to restrict this user of adding new cameras?</h2>

<a href="/Users/All" class="btn btn-default">Back</a>
<a href="/Users/ConfirmRestrict/@Model" class="btn btn-danger">Confirm Restrict</a>

