<h1>Register</h1>
<form method="post" action="/users/register">
    <input name="username" placeholder="enter username" />
    <input name="firstName" placeholder="enter first name" />
    <input name="lastName" placeholder="enter last name" />
    <input type="password" name="password" placeholder="enter password" />
    <input id="submit" type="submit" value="REGISTER" />
</form>