@model SupplierBasicModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="IsImporter" />
        <label asp-for="IsImporter"></label>
        <span asp-validation-for="IsImporter" class="form-text text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>

