@model SupplierBasicModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-5">
        @Html.Partial("_SupplierForm", Model)
    </div>
</div>
