
div.center {
    background-color:black;
    width:100%;
    border: 1px solid #303075;
    border-radius: 1000px;
}
div {
    background-color:orange;
    border:1px solid #303075;
    border-radius: 1000px;
    width: 94%;
}