
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form>
    <input type="text" value="" placeholder="Username"/>
    <input type="number" value="" placeholder="Age"/>
    <input type="text" value="" placeholder="Whatever"/>
</form>