<header>
    <span>&#9993; Contact Book</span>
    {{#if loggedIn}}
        <a href="#/logout">Logout</a>
        <a href="#/profile">Profile</a>
        <a href="#/contacts">Contact</a>
    {{/if}}
</header>